﻿
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_Front.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Visión</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Inicio<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Visión</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
